@import url('/assets/fonts/Inconsolata/Inconsolata-VariableFont_wdth\,wght.ttf');

*{
    padding: none;
    margin: 0;
}

:root{
    --anaRenk: rgb(1, 132, 25);
}

body{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--anaRenk);
}

.container {
    text-align: center;
    position: relative;
    background-color: white;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: fit-content;
    max-height: 75vh;
}

.altBilgiler{
    width: 100%; display: flex; text-align: center;justify-content: space-between; gap:10px;
}
/* 
.altBilgiler::before {
    content: "|";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: 20px;
    color: black;
} */

hr{
    margin: 10px 0;
}
h1 {
    font-size: clamp(1.5em, calc(3vw + 1em), 3em);
    color: #333;
    margin-bottom: 10px;
}
p {
    font-size:clamp(1em, calc(1vw + 0.8em),1.4em);
    /* font-size: 1.2rem; */
    color: #555;
    flex-grow: 1;
}

/* a{ */
    /* text-decoration-color: blue; */
    /* color: var(--anaRenk); */
    /* transition: color 1s; */
/* } */

/* a:hover{ */
    /* color: var(--anaRenk); */
    /* text-shadow: 1px 1px 1px #333; */
/* } */

#saat {
    font-size: clamp(3rem, 15vw, 30vw);
    font-family: "Inconsolata", monospace;
    display: block;
    cursor: default;
}
.ilerleme{
    position: relative;
    width: 100%;
    height: clamp(3vw,5vw,10vw);
    display: flex;
    align-items: center;
    justify-content: center;
}
progress#ilerleme-gostergesi{
    position: absolute;
    width: inherit;
    height: inherit;
}
span#ilerleme-yazisi{
    position: absolute;
    font-size: clamp(0.5vw,2vw,4vw);
    
}
